<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/BoxSorting--Lab-17/src/box_sorter/BoxSorter.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="box_sorter.BoxSorter"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="BoxSorting--Lab-17"/>
</launchConfiguration>
